<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="VEIL"
    Manufacturer="VEIL"
    Version="$(var.Version)"
    UpgradeCode="{BF1CC1AB-55B3-4BBE-92F3-22B8D5D0DD71}"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer VEIL version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="VEIL" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="VEIL" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="VEIL" Level="1">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>

    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id="GuiComponent" Guid="{0DBF9F91-5B40-4664-AD78-B9E41A26616A}">
        <File Id="GuiExe" Source="$(var.SourceDir)\veil-gui.exe" KeyPath="yes">
          <Shortcut
            Id="StartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="VEIL"
            Advertise="yes"
            Description="Open the VEIL Windows client" />
        </File>
      </Component>

      <Component Id="ServiceComponent" Guid="{E3E4EA26-4D4D-449E-9B06-D5904388AB92}">
        <File Id="ServiceExe" Source="$(var.SourceDir)\veil-service.exe" KeyPath="yes" />
        <ServiceInstall
          Id="ServiceInstall"
          Type="ownProcess"
          Name="VEILTunnel"
          DisplayName="VEIL Tunnel Service"
          Description="VEIL tunnel data plane and local control channel."
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal" />
        <ServiceControl
          Id="ServiceControl"
          Name="VEILTunnel"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>

      <Component Id="DriverDllComponent" Guid="{285DC948-4D7E-4C4E-8D9B-E732D10D61B3}">
        <File Id="VeilTunDll" Source="$(var.SourceDir)\veiltun.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
